name: Update Age in README

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-age:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update age dynamically
        run: |
          current_year=$(date +'%Y')
          birth_year=2003
          age=$((current_year - birth_year))
          sed -i "s/I'm+.*+years+old/I'm+${age}+years+old/" README.md

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add README.md
          git commit -m "Auto-update age to ${age}" || echo "No changes to commit"
          git push
